/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: "Poppins", sans-serif;  
  background: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

.app {
    min-height: 100vh;
    display: grid;
    background-color: #e2d4ff;
}